<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <ApplicationSettings configSource="CustomSettings.xml" />
  <appSettings>
    <add key="filepath" value="..\\..\\DocManagement\\config" />
    <add key="MappingConfigStrategy" value="XMLSETTINGS" />
  </appSettings>
  <connectionStrings>
    <add name="DocManagement.Properties.Settings.Setting" connectionString="Data Source=LPAVLOVAAT;Initial Catalog=MiniDocumentManagementSystem;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>