<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ApplicationSettings>
  <add key="DocGuid" value="DocGuid"></add>
  <add key="StoreDate" value="StoreDate"></add>
  <add key="Size" value="Size"></add>
  <add key="Contragent" value="Contragent"></add>
  <add key="StoreDate" value="StoreDate"></add>
  <add key="MailAddress" value="Mail"></add>
  <add key="Desctiption" value="Desctiption"></add>
  <add key="Phone" value="Phone"></add>
  <add key="DocumentDate" value="DocumentDate"></add>
  <add key="FilePath" value="FilePath"></add>
  </ApplicationSettings>
</configuration>